@CHARSET "UTF-8";

body {
	text-align: center;
	background-color: #FFFFFF;
}
div {
	background-color: #FFFFFF;
}
table {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	background-color: #0080c0;
}
table.cal {
	width: 710px;
}
td {
	background-color: #FFFFFF;
}
td.day {
	height: 130px;
	width: 100px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

div.day {
	position: relative;
	text-align :left;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	
}

div.todo, div.todoS {
	margin: 0px;
	padding: 0px;
	width: 95px;
	vertical-align: top;
	font-size: 0.75em;
	border-radius: 2px;
	border: 1px solid black;
	font-weight: bold;
}

div.todo {
	background-color: #ee0000;
	color: black;
}

div.todoS {
	color: black;
	background-color: #00ee00;
}

#draggable {
	border: 1px red solid;
	width: 100px;
	height: 100px;
}
#detail{
	width: 400px;
	height: 600px;
	position: absolute;
	border: 2px double blue;
	display: none;
}
.strike {
	text-decoration: line-through;
}

.center{
	text-align: left; /* 문자들의 가운데 정렬을 해제 */
	width: 800px;
	margin: 0 auto;
}
td:hover {
	background-color: #ddddff;
}