@CHARSET "UTF-8";

body {
	text-align: center;
	background-color: #FFFFFF;
}

div#todoM {
	text-align: center;
}

.bigDate {
	font-size: 2em;
}

#before, #after {
	cursor: pointer;
}

input {
	border: none;
	border-bottom: 2px #008080 solid;
	background: none;
}

input[type="button"], input[type="submit"] {
	border: 2px blue solid;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(171, 168, 255, 1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(171, 168, 255, 1);
	box-shadow: 0px 0px 2px 1px rgba(171, 168, 255, 1);
}

input[type="button"]:HOVER, input[type="submit"]:HOVER {
	border: 2px blue solid;
	-webkit-box-shadow: inset 0px 0px 2px 1px rgba(171, 168, 255, 1);
	-moz-box-shadow: inset 0px 0px 2px 1px rgba(171, 168, 255, 1);
	box-shadow: inset 0px 0px 2px 1px rgba(171, 168, 255, 1);
}

#inputModifyTitle {
	font-size: 1em;
	width: 240px;
}

input.bigDate {
	border: none;
	text-align: center;
}

#year {
	width: 120px;
}

#month {
	width: 30px;
}

#year:HOVER, #month:HOVER {
	-webkit-box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
	-moz-box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
	box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
}

div {
	margin: 0 auto;
	background-color: #FFFFFF;
	z-index: 1;
}

table {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	background-color: #a4d1ff;
	border-collapse: collapse;
}

table.todo_table {
	width: 380px;
}

table.cal {
	width: 710px;
	height: 80%;
	border: 2px black solid;
}

.todo_table tr {
	background-color: white;
	height: 45px;
}

table.cal th {
	text-align: center;
	font-size: 20px;
	font-family: "FIXEDSYS";
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid black;
	text-shadow: 0 0 2px #fff;
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;
}

td {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

td.day {
	width: 100px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}

div.day {
	position: relative;
	text-align: left;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 2px 0px 3px 3px;
	line-height: 18px;
	background-color: transparent;
}

span.Month {
	vertical-align: text-top;
	font-size: 0.3em;
}

span.Day {
	font-weight: 500;
}

div.todo, div.todoS {
	margin: 0px;
	margin-bottom: 2px;
	width: 92%;
	height: 25px;
	padding: 0px;
	vertical-align: middle;
	font-size: 0.75em;
	border-radius: 8px;
	font-weight: lighter;
	white-space: nowrap;
}
.block {
	display:inline-block;
	white-space: nowrap;
}
.aaaa {
	font-weight: bold;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.todo {
	background-color: #ff9b9b;
	color: black;
	padding-left: 6px;
}

div.todoS {
	color: black;
	padding-left: 6px;
	background-color: #9ff28a;
}
/* 리스트에 드래그 빈 영역스타일 */
.todoPlaceholder {
	margin: 0px;
	padding: 0px;
	width: 95px;
	border-radius: 2px;
	border: 1px solid black;
}

#draggable {
	border: 1px red solid;
	height: 90px;
}

span.dday {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	color: #71b8ff;
	font-weight: bold;
	font-size: 0.8em;
	position: absolute;
	right: 9px;
	top: 3px;
}

#detail {
	width: 400px;
	position: absolute;
	border: 5px double #aaddaa;
	display: none;
	z-index: 10;
	border-radius: 10px;
}

.strike {
	text-decoration: line-through;
}

.todoUl {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 110px;
	min-height: 110px;
}

div.center {
	width: 960px;
	margin: 0 auto;
}

td.day:hover {
	background-color: #ddddff;
}

span#xButton {
	border: 1px solid red;
	color: red;
	font-size: 0.7em;
	font-weight: 900;
	border-radius: 3px;
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 10px;
	vertical-align: super;
	top: 10px;
	cursor: pointer;
}