@CHARSET "UTF-8";

body {
	text-align: center;
	background-color: #FFFFFF;
}

div#todoM {
	text-align: center;
}
.bigDate {
	font-size: 2em;
}

input.bigDate {
	border: none;
	text-align: center;
}
#year{
	width: 120px;
}
#month{
	width: 30px;
}

div {
	margin: 0 auto;
	background-color: #FFFFFF;
	z-index: 1;
}

table {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	background-color: #0080c0;
}

table.todo_table {
	width: 380px;
}

table.cal {
	width: 710px;
	height : 80%;
}
table.cal th {
	text-align: right;
	font-size: 20px;
	font-family: "FIXEDSYS";
	

	text-shadow: 0 0 2px #fff;
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;

}
td {
	background-color: #FFFFFF;
}

td.day {
	width: 100px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

div.day {
	position: relative;
	text-align: left;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 2px 0px 3px 8px;
	
	background-color: transparent;
}

div.todo, div.todoS {
	margin: 0px;
	padding: 0px;
	width: 95px;
	vertical-align: top;
	font-size: 0.75em;
	border-radius: 2px;
	border: 1px solid black;
	font-weight: bold;
}

div.todo {
	background-color: #ee0000;
	color: black;
}

div.todoS {
	color: black;
	background-color: #00bb00;
}
/* 리스트에 드래그 빈 영역스타일 */
.todoPlaceholder {
	margin: 0px;
	padding: 0px;
	width: 95px;
	border-radius: 2px;
	border: 1px solid black;
}

#draggable {
	border: 1px red solid;
	width: 100px;
	height: 100px;
}
span.dday {
	background-color: #99ffffff;
}
#detail {
	width: 400px;
	position: absolute;
	border: 5px double #aaddaa;
	display: none;
	z-index: 10;
	border-radius: 10px;
}

.strike {
	text-decoration: line-through;
}

.todoUl {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 130px;
	min-height: 130px;
}

div.center {
	width: 960px;
	margin: 0 auto;
}

td:hover {
	background-color: #ddddff;
}

span#xButton {
	border: 1px solid red;
	color: red;
	font-size: 0.7em;
	font-weight: 900;
	border-radius: 3px;
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 10px;
	vertical-align: super;
	top: 10px;
	cursor: pointer;
}