@CHARSET "UTF-8";

body {
	text-align: center;
	background-color: #FFFFFF;
}

div#todoM {
	text-align: center;
}

#before, #after {
	cursor: pointer;
	border: 2px solid black;
	width: 20px;
	border-radius: 15px;
	height: 20px;
	margin: 0px;
	margin-top: -13px;
	padding: 3px;
	vertical-align: middle;
}

.bigDate {
	font-size: 30px;
}

#before:HOVER, #after:HOVER {
	background-color: #b5e3e6;
}

.text {
	border: none;
	border-bottom: 2px #008080 solid;
	background: none;
	width: 90%;
	height: 30px;
	font-size: 15px;
}

input.small {
	width: 70%;
}

input[type="button"], input[type="submit"] {
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 2px solid #000000;
	font-family: "고딕체";
	font-size: 14px;
	font-weight: bold;
}

input[type="button"]:HOVER, input[type="submit"]:HOVER {
	font-weight: bold;
	border-radius: 9px 9px 9px 9px;
	font-family: "고딕체";
	font-size: 14px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 2px solid #000000;
	background-color: #bde6e8;
}

#inputModifyTitle {
	font-size: 1em;
	width: 240px;
}

input.bigDate {
	border: none;
	text-align: center;
}

#year {
	width: 120px;
}

#month {
	width: 30px;
}

#year:HOVER, #month:HOVER {
	-webkit-box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
	-moz-box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
	box-shadow: 0px 0px 14px -2px rgba(38, 0, 255, 0.85);
}

div {
	margin: 0 auto;
	background-color: #FFFFFF;
	z-index: 1;
}

.top {
	margin: 0px auto;
	min-width: 725px;
}

table {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	background-color: #ddf1f2;
	border-collapse: collapse;
}

table.todo_table {
	width: 330px;
}

table.cal {
	height: 725px;
	border: 2px black solid;
	min-width: 725px;
	max-width: 725px;
	margin-top: 15px;
}

.todo_table tr {
	background-color: white;
	height: 40px;
}

.todo_table th {
	font-size: 15px;
}

table.cal th {
	text-align: center;
	font-size: 20px;
	font-family: "FIXEDSYS";
	margin: 0px;
	padding: 0px;
	/* 	text-shadow: 0px 0px 4px #d3eeef, 0px 0px 8px #d3eeef, 0px 0px 12px #d3eeef, 0px 0px 16px #d3eeef; */
	/* 	text-shadow: 2px 2px 0px #d3eeef, 0px 0px 0px #ffffff; */
	text-shadow: -1.5px 0 #d3eeef, 0 1.5px #d3eeef, 1.5px 0 #d3eeef, 0 -1.5px #d3eeef;
	border-bottom: 2px solid black;
	background-color: #404040;
}

td {
	margin: 0px;
	padding: 0px;
}

td.day {
	vertical-align: top;
	width: 100px;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}

div.day {
	position: relative;
	text-align: left;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 2px 0px 3px 3px;
	line-height: 18px;
	background-color: transparent;
}

tr {
	margin-bottom: 20px;
}

span.Month {
	vertical-align: text-top;
	font-size: 0.3em;
}

span.Day {
	font-weight: 500;
}

div.todo, div.todoS {
	margin: 0px;
	margin-bottom: 2px;
	width: 95px;
	height: 19px;
	padding: 0px;
	vertical-align: middle;
	font-size: 0.75em;
	border-radius: 8px;
	font-weight: lighter;
	white-space: nowrap;
}

.block {
	display: inline-block;
	white-space: nowrap;
}

.chkBlock, .bigChk {
	padding: 0px;
	margin: 0px;
	border: 1px solid #d1d1d1;
	width: 10px;
	height: 10px;
	background-color: white;
	overflow: hidden;
}

.chkImg {
	width: 100%;
	top: -100%;
	position: relative;
}

.chkImg:HOVER {
	top: 0px;
	opacity: 0.4;
}

.chkd {
	top: 0px;
}

.chkd:HOVER {
	opacity: 1;
}

.aaaa {
	font-weight: bold;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

div.todo {
	border: #ff9b9b 2px solid;
	color: black;
	padding-left: 6px;
}

div.todoS {
	color: black;
	padding-left: 6px;
	border: #9ff28a 2px solid;
}

div.todo:HOVER {
	background-color: #ffe1e1;
}

div.todoS:HOVER {
	background-color: #e8fce2;
}
/* 리스트에 드래그 빈 영역스타일 */
.todoPlaceholder {
	margin: 0px;
	padding: 0px;
	width: 95px;
	border-radius: 2px;
	border: 1px solid black;
}

#draggable {
	border: 1px red solid;
	height: 90px;
}

span.dday {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	color: #71b8ff;
	font-weight: bold;
	font-size: 0.8em;
	position: absolute;
	right: 9px;
	top: 3px;
}

#detail {
	width: 400px;
	position: absolute;
	border: 5px double #aaddaa;
	display: none;
	z-index: 10;
	border-radius: 10px;
}

.strike {
	text-decoration: line-through;
}

.todoUl {
	margin: 0;
	padding: 0;
	list-style-type: none;
	min-height: 110px;
	min-width: 105px;
}

div.center {
	width: 960px;
	margin: 0 auto;
}

td.day:hover {
	background-color: #ffffff;
}

span#xButton {
	border: 1px solid red;
	color: red;
	font-size: 0.7em;
	font-weight: 900;
	border-radius: 3px;
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 10px;
	vertical-align: super;
	top: 10px;
	cursor: pointer;
}

.fRight {
	float: right;
}

.fLeft {
	float: left;
}

#topYear {
	height: 40px;
	vertical-align: bottom;
	margin-bottom: -10px;
}

.center {
	text-align: center;
}

.paddingLeft {
	padding-left: 3%;
}

.right {
	text-align: right;
}

#thisWeek {
	margin: 0px 0px 10px 600px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 2px solid #000000;
	position: relative;
	bottom: 0px;
	right: 0px;
	padding: 2px 10px 2px 10px;
	text-align: right;
	width : 100px;
	cursor : pointer;
}
/* 
#thisWeek:hover {
	background-color: #b5e3e6;
}
 */
#thisWeek a {
	text-decoration: none;
}

#imgAddr {
	visibility: hidden;
}

.title {
	text-align: center;
	font-size: 1.2em;
	margin: 0px;
	padding: 0px 30px 0px 0px;
}

.bigChk {
	width: 20px;
	height: 20px;
	margin: 2px;
}